[submodule "KiriExtlib"]
	path = KiriExtlib
	url = https://github.com/RaymondMcGuire/KiriExtlib.git
[submodule "KiriMathMini"]
	path = KiriMathMini
	url = https://github.com/RaymondMcGuire/KiriMathMini.git
