build
.vscode
/cmake/checkCUDA/compile/*
!/cmake/checkCUDA/compile/.gitkeep
/export/**/*.png
/export/**/*.jpg
/export/**/*.csv
/export/**/*.bgeo
/export/**/*.voro
/export/**/*.obj
/export/**/*.ply
/**/*.pyc
